
MONGO_URI=mongodb://kedarnadha_db_user:5uyAKg1rRFhH1f20@ac-pogja6y-shard-00-00.kcpzev0.mongodb.net:27017,ac-pogja6y-shard-00-01.kcpzev0.mongodb.net:27017,ac-pogja6y-shard-00-02.kcpzev0.mongodb.net:27017/shorturl?ssl=true&replicaSet=atlas-vyaq5g-shard-0&authSource=admin&appName=Cluster0

BASE_URL=https://your-backend-api.onrender.com
PORT=5000
